body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header, footer {
  width: 100%;
  background-color: white;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filters {
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-title, .card-text {
  color: #333;
}
