table {
    border-collapse: collapse; 
    width: 100%; 
   }
   
   th, td {
    border: 2px solid black; 
    padding: 8px; 
    text-align: center;
    
    
   }
   .error-message {
    font-size: 50px;
    color: red;
    font-weight: bold;}
   