.restaurant-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .restaurant-list h2 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
  }
  