@use "../abstracts/variables" as var;
@use "sass:math";
@use "../abstracts/mixins" as mix;
header {
  justify-content: center;
  align-items: center;
}

.header-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/image-01.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .header-inner {
    width: 35%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var.$text-color-primary;
    text-align: center;

    @include mix.mobile-styles {
      width: 80%;
    }
    h1 {
      border-top: 4px solid var.$text-color-primary;
      border-bottom: 4px solid var.$text-color-primary;
      padding: 20px;
    }
    p {
      padding-top: 30px;
    }

    .btn {
      background-color: transparent;
      border: 1px solid var.$text-color-primary;
      border-radius: 5px;
      color: var.$text-color-primary;
      padding: 20px;
      width: 40%;
      margin-top: var.$gutter-base;
      @include mix.mobile-styles {
        width: 80%;
      }
      &:hover {
        outline: 1px solid var.$text-color-primary;
      }
    }
  }
}
