@use "../abstracts/variables" as var;
@use "sass:math";
@use "../abstracts/mixins" as mix;
.subscribe {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var.$gutter-base * 2;
  margin-bottom: var.$gutter-base * 2;
input {
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin-bottom: var.$gutter-base;
    @include mix.mobile-styles {
      width: 80%;
    }
    &:focus {
      outline: 1px solid black;
    }
  }
  button {
    color: var.$text-color-primary;
    background-color: var.$background-color-secondary;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 120px;

    &:hover {
      background-color: var.$background-color-hover;
    }
  }
}
